.contextmenu {
    width: 150px;
    border: 1px solid #999;
    box-shadow: 3px 3px 3px #ccc;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index:9999999;
    padding: 0;
}
textarea{
    resize: none;
}
.contextmenu li {
    text-align: center;
    height: 40px;
    line-height: 40px;
    list-style: none;
    width: 100%;
}
.contextmenu li a {
    display: block;
    text-decoration: none;
    color: #333;
}
.contextmenu li a:hover {
    background-color: #ccc;
    font-weight: bold;
    color: #fff;

}
.root_box{
    border: solid 2px blueviolet;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.direct_box{
    border: solid 2px blueviolet;
    border-radius: 5px;
    margin-bottom: 5px;
}
.root{
    margin: 5px;
    font-size: 20px;
    padding-left: 20px;
}
.child{
    margin: 5px;
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer
}
.child_box{
    height:600px;
    padding-right: 10px;
    overflow:auto;
}
.child_box::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
}
.child_box::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
}
.child_box::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}
.last{
    border-right: solid 2px blueviolet;
    float: left;
    width: 40%;
    overflow: hidden;
    cursor: pointer
}
.last:hover{
    background: #a355ec;
}
.last:hover p{
    color: white;
}
.current{
    padding-left: 10px;
    overflow: hidden;
    cursor: pointer;
}
.edit_board{
    width:100%;
    border-radius: 2px;
    height: 100%;
    background: #464646;
    color: white;font-size: 20px;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}
.edit_board::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
}
.edit_board::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
}
.edit_board::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}
.chat_board{
    height:100%;
    /*background: #362c65;*/
    border-radius: 5px;
}
.input_area{
    height:100%;
    width: 100%;
    background: #362c65;
    border-radius: 5px;
    font-size: 18px;
}
.input_area::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
}
.input_area::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
}
.input_area::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}
.btn{
    border-radius:3px;
    height: 40px;
    width: 90px;
}
.btn:hover{
    outline: 1px;
}
.name_list{
    max-height: 120px;
    overflow: auto;
    border-radius: 5px;
    background: #362c65;
}
.name_list::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
}
.name_list::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
}
.name_list::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}
.name{
    border-radius: 2px;
    border-bottom: solid 2px #ee59b2;
    height: 30px;
    padding: 4px;
    background: #30236e;
    font-size: 18px;
}
.chat_pad{
    overflow: auto;
    padding: 5px;
    border-radius: 5px;
    background: #362c65;
    height: 73%;
    width: 100%;
    overflow-x: hidden;

}

.chat_pad::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
}
.chat_pad::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
}
.chat_pad::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}
.bubble{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.bubble_inner{
    background: #8570e8;
    word-wrap: break-word;
    border: solid 2px blanchedalmond;
    border-radius: 5px;
    overflow: auto;
    padding: 5px;
}
.bubble p{
    font-size: 18px;
    margin: 0;
    word-wrap: break-word;
	word-break: break-all;
}