<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <link href="/static/css/module.css" rel="stylesheet">
    <link href="/static/css/demo.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/module.js"></script>
</head>

<body>
    <div class="wrapper" style="padding-top: 10px;">
        <div class="main">
            <P style="font:20px Arial;margin-top: 5px">There is no module. Create it !!!</P>
            <form class="generate" method="post" action="/createModule/">
                <input type="text" class="generate-input" placeholder="Module Name" name="name" required>
                <input type="submit" class="generate-submit" value="CREATE">
            </form>
        </div>
    </div>
</body>

</html>