<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <link href="/static/css/module.css" rel="stylesheet">
    <link href="/static/css/demo.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/module.js"></script>
</head>

<body>
    <div class="wrapper" style="padding-top: 10px;">
        <div class="main">
           <ul id="links">
                {% for i in modules %}
           <li class="dynamic-link" style="margin: 5px"><a href="/course/{{ i.id }}" style="text-decoration: none; color: whitesmoke;">{{ i.id }} {{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>