<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="Neat">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" user-scalable="no">
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/jquery.min.js"></script>
</head>
<body style="padding: 0px">
<div class="main-group">
		<ul class="items-group">
            {% for i in lr %}
                <li class="item" style="left: 0px; opacity: 1;padding-left:5px;padding-right: 5px;border: 1px #4fc08d solid;border-radius: 7px">
                    <span class="text"><a style="text-decoration: none;color:#4fc08d;font-size:14px;" href="/download/{{ i.id }}/">{{i.name}}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ i.size }}KB &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ i.datetime }}</span>
                    <span class="icon" id="{{ i.id }}">X</span>
                </li>
            {% endfor %}
		</ul>
    <div>
        <iframe id="iframe" src="/upload/" frameborder="0" width="100%" height="500px"></iframe>
    </div>
    <script type="text/javascript">
        $(".icon").on('click',function (){
            let id = $(this).attr('id')
            $.ajax({
                type:'post',
                dataType:'json',
                data:{"id":id},
                url:'/delete/',
                success: function (data) {
                            if (data['code']==0){
                                window.location.reload()
                            }
                        }
            })
        })
    </script>


	</div>
</body>
</html>
