<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="Neat">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" user-scalable="no">
	<link rel="stylesheet" href="/static/css/style.css">

	<script src="/static/js/jquery.min.js"></script>
</head>
<body style="padding: 0px">
<div class="main-group">
<h1 style="margin-top: 20px;font-size:20px;text-align:center;">
    {{ module.name }} &nbsp;&nbsp;&nbsp; {{ leader }}
</h1>
{% if tasks | length != 0 %}
		<ul class="items-group">
            {% for i in tasks %}
                <li class="item" style="left: 0px; opacity: 1;padding-left:5px;padding-right: 5px;border: 1px #4fc08d solid;border-radius: 7px">
                    <span class="text"><a style="text-decoration: none;color:#4fc08d;font-size:14px;" href="/downloadTask/{{ i.id }}/">{{i.name}}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ i.datetime }}</span>
                    <span class="icon" id="{{ i.id }}">X</span>
                </li>
            {% endfor %}
		</ul>
{% endif %}
    <div>
        <div style="text-align:center;padding-top: 10px;margin-top: 20px">
            <button class="btn-tc" onclick="createTask()">
            Create task
            </button>
        </div>

    </div>
    <script type="text/javascript">
        function createTask(){
            window.location.href='/tasksCreatePage/'
        }
        $(".icon").on('click',function (){
            let id = $(this).attr('id')
            $.ajax({
                type:'post',
                dataType:'json',
                data:{"id":id},
                url:'/deleteTask/',
                success: function (data) {
                            if (data['code']==0){
                                window.location.reload()
                            }
                        }
            })
        })

    </script>


	</div>
</body>
</html>
