<!DOCTYPE html>
    <html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title uid="{{ user.id }}" gid="{{ gid }}" uname="{{ user.name }}">CoCoDep - {{ taskName }}</title>
        <!--
        <style>
            div{
                border: 1px red solid;
            }
        </style>
        !-->
        <link rel="stylesheet" href="/static/css/workspace.css">
        <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
        <script src="/static/js/jquery-1.7.2.js"></script>
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/js/workspace.js"></script>
        <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

    <div class="container" style="width: 100%;">
        <div class="row" style="padding:5px;">

            <!--file system structure-->
            <div class="col-md-2">
                <div class="root_box">
                    <div style="display: inline">
                        <div class="last" id="last" lastid="0"><p class="root">Last</p></div>
                        <div class="current" pid="{{ root.id }}"><p class="root" id="current">{{ root.name }}</p></div>
                    </div>
                </div>

                {% if content|length > 0 %}
                <div class="child_box">
                    {% for i in content %}
                        <div class="direct_box" onclick="next({{ i.id }},'{{ i.type }}')" ><p class="child">{{ i.name }}</p></div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!--text pad-->
            <div class="col-md-8" style="padding-right:10px;height: 710px;padding-left: 0;margin-left: -5px">
                <textarea class="edit_board"></textarea>
            </div>

            <!--chat room-->
            <div class="col-md-2" style="padding: 5px;background: #915fec;height: 700px;border-radius: 5px;color: white">
                <div style="height: 70%;width: 100%;border-radius: 5px;padding: 3px 3px 10px;">
                    <div class="chat_board">
                        <div class="name_list">
                            <div class="name">{{ user.name }}</div>
                            {% for i in members %}
                            <div class="name">{{ i }}</div>
                            {% endfor %}
                        </div>

                        <div style="height: 10px;background: #a355ec;"></div>

                        <div class="chat_pad" id="chat_pad">
                        </div>

                    </div>
                </div>


                <div style="height: 20%;width: 100%;border-radius: 5px;padding: 3px 3px 10px;">
                    <textarea class="input_area"></textarea>
                </div>
                <div style="height: 10%;padding: 15px 15px 15px;">
                    <button style="float: left;background: #ec4242;outline: 2px #960404;font-size: 20px;" class="btn">Send</button>
                    <button style="float: right;background: #60daba;outline: 2px #0d6539;font-size: 20px;" class="btn" id="send_btn">Send</button>
                </div>
            </div>
        </div>


    </div>
    </body>
    </html>